.wrpActuaciones{
    display:grid;
    grid-template-areas: 
        " . . i"
        " v w i"
        " p p i";
    grid-template-rows: 150px 1fr 1fr;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap:10px;
    height:100vh;
}
.video1{
    grid-area: v;
}

.video2{
    grid-area: w;
}
/* Spotify: */
/* background: #AA6DA3; */
.titleVideo{
    font-size: 18px;
    margin-bottom: 0px;
    text-align: center;
    color:#AA6DA3;
}
.proximasActuaciones{
    grid-area: p;
    text-align: center;
    color:#AA6DA3;
}
.proximasActuaciones > h3{
    margin-bottom: 0px;
    
}
.proximasActuaciones > p{
    margin-bottom: 0px;

}
.proximasActuaciones > span{
    margin-bottom: 0px;
}

.wrpImage{
    grid-area: i;
    margin : auto 0;
    height:100vh;
    text-align:right;
}
.imageLateral{
    margin-bottom: 0px ;
    max-height: 795px;
    height: 100%;
}
@media screen and (max-width: 768px) {
    .wrpActuaciones{
        grid-template-areas: 
        " . "
        " v "
        " w "
        " p ";
        grid-template-columns: 1fr;
        grid-template-rows: 90px 1fr 1fr;
    }
    .imageLateral{
        display: none;
    }
    .proximasActuaciones{
        margin-bottom: 53px;
    }
    .titleVideo{
        font-size:14px;
    }
}