.wrpClases{
    display:grid;
    grid-template-areas: 
        " t i"
        " . i";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1.5fr;
    height: 100vh;
}
.textoClases{
    grid-area: t;
    text-align: center;
    color:#BD10E0;
    margin: auto;
}
.textoClases > h3{
    margin-bottom: 0px;
    
}
.textoClases > p{
    margin-bottom: 0px;
    font-size: 18px;

}
.textoClases > span{
    margin-bottom: 0px;
}

.wrpImage{
    grid-area: i;
    margin : auto 0;
    height:100vh;
    text-align:right;
}
.imageLateral{
    margin-bottom: 0px ;
    /* height: 100vh; */
    max-height: 795px;
    height:100%;
}
@media screen and (max-width: 768px) {
    .wrpClases{
        grid-template-areas: 
        " . "        
        " t "
        " i ";
        grid-template-columns: 1fr;
        grid-template-rows: 90px 1fr;
        
    }
    .imageLateral{
        height : auto; 
    } 
    .textoClases{
        margin: 0;
    }

    .wrpImage{
        height: auto;
    }
}

