.wrpClases{
    display:grid;
    grid-template-areas: 
        " p i"
        " t i";
    grid-template-rows: 1fr 1.25fr;
    grid-template-columns: 1fr 1.5fr;
    height: 100vh;
}
.textoPrecio{
    grid-area: p;
    text-align: center;
    color:#AA6DA3;
    margin: auto;
}
.textoClases{
    grid-area: t;
    text-align: center;
    color:#AA6DA3;
    margin: 0;
}
.textoPrecio > h3{
    margin-bottom: 0px;
    
}
.textoClases > p{
    margin: 10px;
    font-size: 12px;

}
.textoPrecio > p{
    margin-bottom: 0px;
    font-size: 18px;

}
.textoPrecio > span{
    margin-bottom: 0px;
}

.wrpImage{
    grid-area: i;
    margin : auto 0;
    height:100vh;
    text-align:right;
}
.imageLateral{
    margin-bottom: 0px ;
    /* height: 100vh; */
    max-height: 795px;
    height:100%;
}
@media screen and (max-width: 768px) {
    .wrpClases{
        grid-template-areas: 
        " . "        
        " p "
        " t "
        " i "
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 90px auto 1fr 1fr;
        height: auto;
        
    }
    .imageLateral{
        height : auto; 
    } 
    .textoPrecio{
        margin: 0;
    }

    .wrpImage{
        height: auto;
    }
}

