.wrpClases{
    display:grid;
    grid-template-areas:
        " p i"
        " t i";
    grid-template-rows: 1fr 1.50fr;
    grid-template-columns: 1fr 1.5fr;
    height: 100vh;
}
.textoPrecio{
    grid-area: p;
    text-align: center;
    color:#AA6DA3;
    margin: auto;
    margin-bottom: 30px;
}
.textoClases{
    grid-area: t;
    /* font-size: 16px; */
    /* text-align: center; */
    font-style: italic;
    color:#AA6DA3;
    margin: 0;
    margin-left:20px;
}
.textoPrecio > h3{
    margin-bottom: 0px;

}
.textoClases > p{
    margin: 10px;
    font-size: 14px;

}
.textoPrecio > p{
    margin-bottom: 0px;
    font-size: 18px;

}
.textoPrecio > span{
    margin-bottom: 0px;
}

.wrpImage{
    grid-area: i;
    margin : auto 0;
    height:100vh;
    text-align:right;
}
.imageLateral{
    margin-bottom: 0px ;
    /* height: 100vh; */
    max-height: 795px;
    height:100%;
}
@media screen and (max-width: 1140px) {
    .wrpClases{
        grid-template-columns: 1fr 1fr;
    }
    .textoClases > p{
        margin: 10px;
        font-size: 12px;
        line-height: 1.5em;
    }
}
@media screen and (max-width: 768px) {
    .wrpClases{
        grid-template-areas:
        " . "
        " p "
        " t "
        " i "
        ;
        grid-template-columns: 1fr;
        grid-template-rows: 90px auto 1fr auto;
        height: auto;

    }
    .imageLateral{
        height : auto;
        margin-bottom: 50px;
    }
    .textoPrecio{
        margin: 0;
    }

    .wrpImage{
        height: auto;
    }
}

